.footer {
    display: grid;
    grid-template-columns: 5fr 2fr 5fr;
    align-items: center;
    padding: 30px;
    background-color: #79B4B7;    
    bottom: 0;
}

.redes {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    font-size: 23px;
}

.redes a {
    text-decoration: none;
    color: black;
}

.sobre {
    grid-column: 1 / span 3;

}

.sobre a,
.sobre span {
    padding: 0 5px;
    gap: 25px;
    color: black;
}